* {
    box-sizing: border-box;
}

h1 {
    font-family: "Times New Roman", sans-serif;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: "Times New Roman", sans-serif;
    font-size: 32px;
    font-weight: bold;
}

h3 {
   font-family:'Times New Roman', Times, serif;
   font-size: 24px; 
}

body {
    background-image: linear-gradient(rgb(118, 118, 139), rgb(96, 96, 105));
}

.hero {
    width: 50%;
    height: 50%;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    box-shadow: 10px 10px;
}

.food {
    width: 30%;
    height: 30%;
}

.links {
    text-align: center;
    list-style-type: none;
}

a {
    text-decoration: none; 
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}

.home-list {
    padding: 0px;
}

.lasagna {
    width: fit-content;
    margin: 0 auto;
}

.recipe-lists {
    padding-left: 50px;
    padding-right: 50px;
}

.troublemaker {
    height: 100vh;
}